body
        {
            margin: 0;
            padding: 0;
        }

        .background{
            width: 100%;
            height: 100%;
            background-image: url('signinbackground.jpg');
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .rect{
            width: 300px;
            height: 150px;
            position: relative;
            margin: 100px auto;
            background:#ffffff;
            border-radius: 50px;
            padding: 5%;
        }

        .signin-ttl{
            position: relative;
            font-weight: bolder;
            font-size: 35px;
        }

        .username-box{
            position: relative;

        }
        .buttonposition
        {
            position: fixed;
            left: 1250px;

        }
        button 
        {
            background: transparent;                
            border: none;
        }
        .buttons 
        {
            padding:10px;
            position: relative;
            color:#FFFFFF;
            text-align: center;
        }
        .container
        {
            position: relative;
            text-align: center;
            color: white;
        }
        .centered
        {
            position: absolute;
            text-decoration: none;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }