
<div class="background">
    <div class="rect">
        <span class="signin-ttl">Home</span>

        <h2>Posts:</h2>
        {{#each posts}}
            <div>
                Post from {{this.author}}: <br>
                {{this.text}}
            </div>
            <br>
        {{/each}}
    </div>
</div>
    