    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pollution Killer</title>
        <link rel="icon" href="Images/icon.jpg">
        <link rel="stylesheets" href="sing-sytle.css">
    </head>

    <body> 
        <div class="background">
            <div>
                <div class="buttonposition" >
                    <button class="buttons">
                        <div class="container">
                            <img src="Images/signup1.png" width="110px">
                            <a class="centered" href="Publicatepage.html">Publicate</a>
                        </div>
                    </button>
                    <button class="buttons">
                        <div class="container">
                            <img src="Images/signup1.png" width="110px">
                            <a class="centered" href="SignIn.html">Sign In</a>
                        </div>
                    </button>
                    <button class="buttons"> 
                        <div class="container">
                            <img src="Images/signup1.png" width="110px">
                            <a class="centered" href="SignUp.html">Sign Up</a>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </body>

