<div class="background">

            <form style="text-align: center;">
                <div>
                    <lable for="name"> name </lable>
                    <input type="name" placeholder="write your name">
                </div>
                <div>
                    <lable for="cordinates x"> name </lable>
                    <input type="name" placeholder="Plese write down the cordinates">
                </div>
                <div>
                    <lable for="cordinates y"> name </lable>
                    <input type="name" placeholder="Plese write down the cordinates">
                </div>
                <div>
                    <lable for="name"> more information </lable>
                    <textarea name="more information" placeholder="Write more information if you have one"></textarea>
                </div>
                <div>
                    <button name="sent" placeholder="sent">sent</button>
                </div>
            </form>

        </div>