
<link rel="stylesheet" href="css/sign-style.css">
<div>
    <div class="rect">
        <span class="signin-ttl">Sign In</span>
        <br>
        <input type="text" class="username-box" placeholder="User name or Email" required>
        <input type="password" class="password-box" placeholder="Password" required>
            <br>
        <input type="checkbox" class="checkbox"><span>Remember password</span>
        <button type="submit" class="subm-btn">
            <br>
            Sign In
            <br>
            </button>
        <br>
        <a href="#" class="forgotpassword">Forgot password?</a>
    </div>
</div>
    