
    <div class="background">
        <div class="rect">
            <span class="signin-ttl">Sign In</span>
            <br>
            <input type="text" class="username-box" placeholder="User name or Email" required>
            <input type="text" class="password-box" placeholder="Password" required>
            <br>
            <input type="checkbox" class="checkbox"><span>Remember password</span>
            <br>
            <button type="submit" class="subm-btn">
                <a href="Pollution Killer.html">Sign In</a>
                </button>
            <br>
            <a href="#" class="forgotpassword">Forgot password?</a>
        </div>
    </div>
    