.background{
    width: 100%;
    height: 100%;
    background-image: url('/images/SingIn background.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.rect{
    width: 300px;
    height: 400px;
    position: relative;
    margin: 100px auto;
    background:rgb(255, 255, 255);
    padding: 5%;
    border-radius: 30px;
    border: limegreen;
}

.signin-ttl{
    position: relative;
    font-weight: bolder;
    font-size: 35px;
}

.buttonposition
{
    position: fixed;
    left: 1400px;

}
button 
{
    background: transparent;                
    border: none;
}
.buttons 
{
    padding:10px;
    position: relative;
    color:#FFFFFF;
    text-align: center;
}
.container
{
    position: relative;
    text-align: center;
    color: white;
}
.centered
{
    position: absolute;
    text-decoration: none;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
